* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto;
    overflow: hidden;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

section {
    padding: 40px  90px;
    display: flex;
    background: #E5E5E5;
}

.container .text {
    font-size: 20px;
    color: black;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 5px;
    line-height: 30px;
    width: 100%;
}

.container .text p {
    font-size: 20px;
    width: 100%;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a{
    color:#074EE8;
    font-style: normal;
    text-align: center;
    position: static;
    font-size: 20px;
    padding: 0px 10px 0px 20px;
}

nav ul li a:hover {
    text-decoration-line: underline;
}

